---

####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

github_branch: 'develop'
github_repo_url: 'https://github.com/slateci/slate-client-server.git'
github_user_email: '<your github account email>'
github_user_name: '<your github account username>'